[Unit]
Description=FrameIt Agent Service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart={{ install_loc }}/.venv/bin/python -m gunicorn -w 2 -b :5000 agent:app
Restart=always
Environment=PYTHONUNBUFFERED=1
Environment=APIKEY={{ api_key }}
WorkingDirectory={{ install_loc }}
Restart=always
RestartSec=3
StartLimitInterval=60s
StartLimitBurst=3